.navbar{
    position: relative;
    background-color: #006f91;
    max-width: 100%;
    padding: 0;
    padding-left: 10px;
    z-index: 111;
}

.navbar .nav-brand {
    text-decoration: none;
    color: white !important;
}

.wrap-logo {
    padding: 20px 0 20px 0;
}

.wrap-logo .search-book{
    width: 80%;
    margin-top: 22px;
    
}

.wrap-logo .search-book .search-button .search-link{
    text-decoration: none;
    color: white;
}

.wrap-logo .search-book input{
    background-color:#ededed;
    
}

.navbar .nav-link {
    text-decoration: none;
    color: white !important;
    font-size: 1em;
    font-weight: bold;
}

.nav-right .nav-link svg {
    font-size: 1.5em;
    color: white;
}

.nav-right .auth .auth-link{
    text-decoration: none;
    color: #444 !important;
    font-size: 1em;
    font-weight: bold;
}

.nav-right .nav-cart {
    position: relative;
    display: none;
}

.nav-right .nav-cart .count-cart {
    position: absolute;
    bottom: 3px;
    right: -2px;
    width: 1.25em;
    height: 20px;
    border-radius: 20px;
    background-color:#f7ad05;
    text-align: center;
}

.wrap-logo .col-md-3 {
    position: relative;
}

.wrap-logo .wrap-cart .link-cart {
    position: absolute;
    text-decoration: none;
    color: #444;
    font-size: 2.1875em;
    display: inline-block;
    height: 100%;
    width: 5em;

}

.wrap-logo .wrap-cart .link-cart .icon-cart {
    position: relative;
    display: inline-block;
}

.wrap-logo .wrap-cart .link-cart .count-cart {
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: -0.8em;
    width: 1.25em;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    background-color: #00abe0;
    color: white;
    font-size: 0.7em;
}

.wrap-logo .wrap-cart .link-cart p {
    display: inline-block;
    text-decoration: none;
    color: #444;
    font-size: 0.55em;
    font-weight: 700;
    margin-left: 1.8em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111;
  }

.top-header {
    width: 100%;
    margin-left: 0px;
}
  
@media only screen and (max-width: 765px){
    .wrap-logo .search-book{
        margin-left: 50% !important;
        transform: translateX(-50%);
    }
    .wrap-logo .image-logo{
        margin-left: 50% !important;
        transform: translateX(-50%);
    }
    .wrap-logo .wrap-cart .link-cart {
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
        /* width: 4.5em; */
    }
    .wrap-logo .wrap-cart .link-cart p {
        margin-left: 1.4em;
    }
    .wrap-logo .wrap-cart .link-cart {
        font-size: 1.8em;
    
    }
}

