
.wrap-login {
    width: 100%;
    height: 100%;
    background-color: #f6f5f7;
}
.wrap-login .login {
    width: 84%;
}

.wrap-login h1 {
    font-weight: bold;
}

.wrap-login .form {
    width: 450px;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;
}

.wrap-login .formGroup {
    width: 84%;
}

.wrap-login .form-check{
    width: 84%;
}

.wrap-login .form .formGroup .wrap-input{
    position: relative;
    overflow: hidden;
}

.wrap-login .form .formGroup .wrap-input-after {
    content: "";
    position: absolute;
    top: 40px;
    width: 100%;
    height: 2px;
    background-color:blue;
    transform: translateX(-101%);
    transition: all 0.3s;
}
.wrap-login .form .formGroup .iconLogin{
    position: absolute;
    top: 11px;
    left: 10px;
    opacity: 0.4;
    font-size: 0.9em;
    transition: all 0.2s;
}

.wrap-login .form .formGroup .wrap-input .input{
    padding: 10px 0 12px 40px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
    box-shadow: none !important;
    border-bottom: 1.5px solid  rgba(0, 0, 0, 0.25);
}

.wrap-login .form .formGroup  .input::placeholder{
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
}

.wrap-login .form .formGroup  .input:focus::placeholder{
    color: white;
}

.wrap-login .form .formGroup  .input:focus ~ .wrap-input-after {
    transform: translateX(0);
}

.wrap-login .form .formGroup  .input:focus ~ .iconLogin {
    opacity: 1;
    color: blue;
}

.wrap-login .form .errorAccount {
    color: red;
    padding: 0;
    margin: 0;
}


/* ----------------------------------------Reponsive */

@media only screen and (max-width: 412px){
    .wrap-login .form{
        width: 100%;
    }
}
