.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 476px;
  }
  .contain-slide {
      overflow: hidden;
      background-position: center !important;
  }
  .wrap-intro-infor {
      padding-left: 3.125em;
      color: white;
      height: 200px;
      width: 100%;
  }

  .wrap-intro-infor h4 {
      font-size: 2em;
      /* transform: translateX(-400px); */
  }
  .wrap-intro-infor h1 {
    font-size: 4em;
    font-weight: 550;
    /* transform: translateX(800px); */
 }
.wrap-intro-infor button{
    margin-top: 10px;
    width: 10.625em;
    height: 50px;
    /* transform: translateY(-400px); */
}
  .wrap-prevArrow{
    width: 1.875em;
    margin-right: -2em;
  }
  .wrap-nextArrow{
    width: 1.875em;
    margin-left: -2em;
  }
  .wrap-prevArrow .prevArrow {
     color: white;
     width: 3em;
     height: 50px;
     opacity: 0;
     transition: all ease 1s;
  } 
  .wrap-nextArrow .nextArrow {
    width: 3em;
    color: white;
    height: 50px;
    transition: all ease 0.4s;
    opacity: 0;
} 

.react-slideshow-container:hover >  .wrap-nextArrow .nextArrow {
    opacity: 1;
}
.react-slideshow-container:hover >  .wrap-prevArrow .prevArrow {
    opacity: 1;
}

@media only screen and (max-width: 765px){
    .wrap-nextArrow {
        margin-left: -3em;
    }
}
