.category-title {
    background-color: #00abe0;
    color: white;
    font-weight: 600;
}

.category-title .menu-icon {
    float: right;
    margin-top: 0.1875em;
    margin-right: 0.3125em;
}

.category-item {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.category-item .category-link {
    display: flex;
    color: rgb(73, 72, 72) !important;
    padding-left: 1.5625em;
    text-decoration: none;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 45px;
}

.category-item .category-link.book {
    display: block;
    color: rgb(73, 72, 72) !important;
    padding-left: 1.5625em;
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 35px;
    display: block;
    padding-top: 12px;
    margin-bottom: 12px;
}

.category-item .menu-icon.right {
    margin-top: 5px;
    float: right;
    margin-right: 0.9375em;
    color: rgb(73, 72, 72) !important;
    font-size: 0.7em;
}

.category-item .menu-icon.down {
    display: none;
    float: right;
    margin-right: 0.9375em;
    color: rgb(73, 72, 72) !important;
    font-size: 0.7em;
}

.category-item .category-menu {
        position: absolute;
        display: flex;
        left:100%;
        top: 0;
        padding: 0 0 20px 1.25em;
        flex-direction: row;
        flex-wrap: wrap;
        width: 640px;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        transform: scaleY(0);
        transform-origin: top;
        box-shadow: 0 2px 5px rgb(160, 160, 160);
}

.category-item .category-link:hover {
    color: #00abe0 !important;
}

.category-item .category-link:hover .category-menu  {
    transform: scaleY(1);
}

.category-item .collapse:not(.show){
    display: inline-block !important;
}

@media only screen and (max-width: 992px){
    .category-item .category-menu{
        position: relative;
        transform: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        left: 0;
        top: 100%;
        box-shadow: none;
        z-index: 1;
        width: 100% !important;
    }
    .category-item .category-link.book {
        display: block;
        height: auto;
        padding-top: 12px;
        margin-bottom: 12px;
    }
    .category-item .menu-icon {
        margin-top: 7px;
    }
    .category-item .category-link {
        font-weight: 600;
    }
    .category-item .menu-icon.right {
        display: none;
    }
    .category-item .menu-icon.down {
        display: inline;
    }
    .category-item .collapse:not(.show){
        display: none !important;
    }
}